/* Add your global styles and reset styles as needed */

.container {
  max-width: 90%;
  height: 95vh;
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #555;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button a {
  color: white;
  text-decoration: none;
  /* display: none; */
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 15px;
  text-align: center;
}

#cart_item {
  border: none;
}
.checkout_opt {
  width: 50%;
  /* border: 1px solid red; */
}
.checkout_details {
  /* border: 1px solid red; */
  overflow: scroll;
  height: 90vh;
}
.total {
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}
/* Add responsive styles as needed */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}
